{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
        {% include "partials/form.html" %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}