{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Tamanhos</th>
          {% if request.user.is_authenticated %}
            <th>Acções</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
			  {% for prod in products %}
          <tr>
            <td>{{ prod }}</td>
            <td>{% for size in prod.sizes.all %}{% if forloop.last %}{{ size }}{% else %}{{ size }}, {% endif %}{% endfor %}</td>
            {% if request.user.is_authenticated %}
              <td>
                <a href="{% url 'products:edit' prod.slug %}" class="btn btn-default btn-xs">Editar</a>
                <a href="{% url 'products:delete' prod.slug %}" class="btn btn-danger btn-xs">Apagar</a>
              </td>
            {% endif %}
          </tr>
			  {% endfor %}
      </tbody>
    </table>
    {% if request.user.is_authenticated %}
      <div class="row">
        <div class="col-md-3 col-md-offset-9">
          <a href="{% url 'products:add' %}" class="btn btn-default btn-mini" role="button">Novo produto</a>
        </div>
      </div>
    {% endif %}
	</div>
</div>
{% endblock content %}
