{% csrf_token %}
{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}
{{ form.non_field_errors }}
{% for field in form.visible_fields %}
  <div class="form-group">
    {% if field.errors %}<p>{{ field.errors }}</p>{% endif %}
    <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
    <div class="col-sm-10">
      {{ field }}
    </div>
  </div>
{% endfor %}