<!DOCTYPE html>
<html>
<head lang="pt">
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>QA</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Mudar navegação</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">QA</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				{% if not request.user.is_authenticated %}
					<form id="login" class="navbar-form navbar-right" action="{% url 'login' %}" method="POST">
						{% csrf_token %}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_value }}" value="{{ redirect_field_value }}">
            {% endif %}
						<div class="form-group">
							<input class="form-control" type="text" name="username" placeholder="Username">
						</div>
						<div class="form-group">
							<input class="form-control" type="password" name="password" placeholder="Password">
						</div>
						<button type="submit" class="btn btn-default">Entrar</button>
					</form>
				{% else %}
					<form id="logout" class="navbar-form navbar-right" action="{% url 'logout' %}" method="POST">
						{% csrf_token %}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_value }}" value="{{ redirect_field_value }}">
            {% endif %}
						<button type="submit" class="btn btn-default">Sair</button>
					</form>
				{% endif %}
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div id="container-fluid">
		{% block content %}
		{% endblock content %}
	</div>
	<script src="http://code.jquery.com/jquery-2.2.1.min.js">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
