{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <p>De certeza que quer apagar <strong>{{ product }}</strong>?</p>
      <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-11">
            <button type="submit" class="btn btn-danger">Apagar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}